/* GLOBAL */

* {
  /* outline: 1px solid black; */
}

body {
  font: 1.2em/1.5 "KoHo", sans-serif;
}

:root {
  --main-color: #8a4fff;
  --secondary-color: #c3bef7;
}

a.btn-large {
  background-color: var(--main-color);
}

a {
  cursor: pointer;
}

/* Notvalid class for input fields */

textarea.notvalid,
input.notvalid,
.create-profile input.notvalid {
  border-color: red !important;
  box-shadow: 0 1px 0 0 red !important;
}

textarea.notvalid + label,
input.notvalid + label,
.create-profile input.notvalid + label {
  border-color: red !important;
}

textarea.notvalid:focus + label,
input.notvalid:focus + label .create-profile input.notvalid:focus + label {
  border-color: red !important;
}

.register form div.row div.col.s6 input.notvalid,
.login form div.row div.col.s6 input.notvalid {
  border-color: red !important;
  box-shadow: 0 1px 0 0 red !important;
}

.register form div.row div.col.s6 input.notvalid + label,
.login form div.row div.col.s6 input.notvalid + label {
  color: red !important;
}

.register input.notvalid:focus + label,
.login input.notvalid:focus + label {
  color: red !important;
}

/* NAVBAR */

nav {
  background-color: var(--main-color);
}

nav .nav-wrapper {
  margin: 0 20px;
}

.header img {
  height: 20px;
  width: auto;
  border-radius: 50%;
  position: relative;
  top: 5px;
  margin: 0 4px;
}

/* MAIN */

.parallax-container {
  height: 400px;
  opacity: 0.8;
}

.parallax-container .greeting-container {
  width: 600px;
  margin: auto;
}

.parallax-container .greeting-container h4 {
  font-weight: bold;
  color: black;
}

.parallax-container .parallax {
  background-color: #55bcbb;
}

.parallax-container .parallax img.main {
  width: 800px;
}

.parallax-container .parallax img.secondary {
  width: 800px;
}

/* 3 COLUMN SECTION */

.column-container {
  margin: 50px auto;
  position: relative;
  grid-column-gap: 40px;
  display: grid;
  grid-template-areas: "column-1 column-2 column-3";
  justify-items: center;
}

.column-container .column {
  text-align: center;
}

.column-container .column i {
  display: block;
  font-size: 60px;
}

.column-container .column:nth-child(1) {
  grid-area: column-1;
}

.column-container .column:nth-child(2) {
  grid-area: column-2;
}

.column-container .column:nth-child(3) {
  grid-area: column-3;
}

.bottom-text {
  margin: 100px auto;
  text-align: center;
}

.bottom-text a {
  margin: 10px;
}

/* FOOTER */

.page-footer {
  background-color: var(--main-color);
}

.page-footer div i {
  position: relative;
  top: 6px;
}

/* FEED */

div.card.horizontal div.card-image {
  margin: 0 20px;
  display: block;
  text-align: center;
}

div.card.horizontal div.card-image img {
  width: 80px;
  margin: 4px;
  border-radius: 50%;
  border: 1px solid black;
}

div.card.horizontal div.card-image .date {
  font-size: 0.8em;
  line-height: 0.8;
}

.card-content .tag {
  padding: 1px 6px;
  margin: 2px;
  background-color: var(--secondary-color);
  color: white;
  font-size: 0.9em;
  float: right;
}

/* DASHBOARD */

div.dashboard {
  margin: 50px auto;
}

div.dashboard .card-panel {
  background-color: var(--secondary-color);
}

img.profile-img {
  width: 140px;
  margin: 4px;
  border-radius: 50%;
  border: 1px solid black;
}

div.dashboard .cards {
  display: flex;
  flex-wrap: wrap;
}

div.dashboard .cards .card {
  flex: 0 1 45%;
  margin: 20px 5px;
  height: fit-content;
}

div.dashboard .btn-floating {
  transition: all 200ms ease;
}

/* LOGIN */

.login {
  margin: 40px auto;
}

.helper-text,
.register .helper-text,
.input .helper-text {
  font-size: 75% !important;
  color: red !important;
}

/* .login input[type="submit"],
.register input[type="submit"] {
  color: white;
  background-color: var(--main-color);
} */

/* REGISTER */

.register {
  margin: 40px auto;
}

/* CREATE PROFILE */
.create-profile {
  margin: 50px auto;
}

.create-profile form button {
  display: block;
  margin: 40px auto;
}

div.create-profile form div.form-group input {
  /* margin-top: 40px; */
}

div.create-profile form i {
  /* margin-top: 40px; */
}

@media only screen and (max-width: 995px) {
  nav .nav-wrapper {
    margin: 0 0;
  }
}

@media only screen and (max-width: 600px) {
  .column-container {
    grid-template-areas:
      "column-1"
      "column-2"
      "column-3";
    grid-row-gap: 40px;
  }

  .parallax-container.secondary {
    height: 300px;
  }

  div.dashboard .cards .card {
    flex: 0 1 100%;
    margin: 20px 5px;
  }
}
