.dropzone {
  width: 100%;
  margin: 100px auto;
  height: 150px;
  border: 5px var(--main-color) dashed;
  border-radius: 10px;
  padding: 15px;
}

.dropzone.drag-active {
  border-color: #0f0;
}

.dropzone p {
  line-height: 1em;
}

/* .image-cropper .cropper-container {
  width: 500px;
}

@media screen and (max-width: 500px) {
  .image-cropper .cropper-container {
    width: 85vw;
  }
} */
